embed-dict.msgpack
embed-dict-1.msgpack
embed-dict-2.msgpack
embed-dict-3.msgpack
hugging-face-access-token.txt
semantic-similarity - HuggingFace Copy.rb
*.*~
*.*#
corpus/*
index/*
analysis/*
dict/wiktionary/*.jsonl.gz
dict/wiktionary/*.jsonl
dict/subtlex/*.tsv
dict/subtlex/*.json
dict/wordfreq/*.tsv
dict/generated/*
